<header>
    <h1>Lista de tareas colaborativa (Demo)</h1>
    <h3>Tareas por terminar: {{ unfinishedTasks  }}</h3>

    <form class="new-task" ng-submit="addTask(newTask)" ng-show="currentUser">
        <p>
            <label>Ver sólo tareas inacabadas<input type="checkbox" ng-model="hideCompleted"/></label>
        </p>
        <input ng-model="newTask" type="text" name="text" placeholder="Añadir nueva tarea"/>
        <input type="submit" value="submit">
    </form>
</header>


<ul>
    <li ng-repeat="task in tasks" ng-class="{'checked': task.checked}">
        <fieldset>
            <legend>Task</legend>
            <div class="text">Descripción: {{ task.text }}</div>
            <label ng-show="currentUser._id == task.owner">
                Terminada / No terminada
                <input type="checkbox" ng-checked="task.checked" ng-click="setChecked(task)"/>
            </label>
            <button ng-click="removeTask(task)" class="delete"
                    ng-show="currentUser._id == task.owner">Delete</button>
            <div>Creada por: {{ task.username }}</div>
            <div>
                <div>Visibility: {{ task.isPrivate == true ? 'Private' : 'Public' }}</div>
                <button ng-click="setPrivate(task)" ng-show="currentUser._id == task.owner">
                    {{ task.isPrivate == true ? 'Hacer pública' : 'Hacer privada' }}
                </button>
            </div>
        </fieldset>
    </li>
</ul>