<header>
    <header>
        <h1>Demo: Lista de tareas colaborativa ( por terminar: {{ $ctrl.unfinishedTasks  }} )</h1>

        <form class="new-task" ng-submit="$ctrl.addTask($ctrl.newTask)" ng-show="$ctrl.currentUser">
            <p><label>Ver sólo tareas inacabadas<input type="checkbox" ng-model="$ctrl.hideCompleted"/></label></p>
            <input ng-model="$ctrl.newTask" type="text" name="text" placeholder="Type to add new tasks"/>
            <input type="submit" value="submit">
        </form>

    </header>
</header>

<ul>
    <li ng-repeat="task in $ctrl.tasks" ng-class="{'checked': task.checked}">
        <div>
            <label>
            <input type="checkbox" ng-checked="task.checked" ng-click="$ctrl.setChecked(task)"
                   ng-show="$ctrl.currentUser._id == task.owner"/>
            <span class="text">Nombre de tarea: {{task.text}}</span>
            <button ng-click="$ctrl.removeTask(task)" class="delete"
                    ng-show="$ctrl.currentUser._id == task.owner">&times;</button>
            </label>
            <div>Tarea creada por: {{ task.username }}</div>
            <div>
                <button ng-click="$ctrl.setPrivate(task)" ng-show="$ctrl.currentUser._id == task.owner">
                    {{ task.isPrivate == true ? "Hacer pública" : "Hacer privada" }}</button>
            </div>
            <br/>
            <!-- debug info -->
            <div class="debug">_id: {{ task._id  }}</div>
            <div class="debug">text: {{ task.text  }}</div>
            <div class="debug">createdAt: {{ task.createdAt  }}</div>
            <div class="debug">checked: {{ task.checked  }}</div>
            <div class="debug">username: {{ task.username  }}</div>
            <div class="debug">isPrivate: {{ task.isPrivate  }}</div>
            <!-- /debug info -->
        </div>
    </li>
</ul>